services:
  app:
    # SUBSTITUA A LINHA 'image:' POR 'build:'
    # image: evandrossjr/cadastro_ca:latest
    build: .  # <-- Diz ao compose para construir usando o Dockerfile na pasta atual

    # O resto é igual
    pull_policy: never # Garante que ele não tente baixar
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/mydatabase
      - SPRING_DATASOURCE_USERNAME=myuser
      - SPRING_DATASOURCE_PASSWORD=1234567
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
      # 5. DDL-auto 'validate' é mais seguro para testes de compose
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_DB=mydatabase
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=1234567
    healthcheck:
      # 7. Adiciona uma verificação de saúde (para o 'depends_on' funcionar)
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydatabase"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - default

