body {
display: flex;
flex-direction: column;
min-height: 100vh;
margin: 0;
}
.main-container {
display: flex;
flex: 1;
}
.sidebar {
width: 250px;
background-color: #091D28;
color: #79b84e;
padding-top: 20px;
flex-shrink: 0;
}
.sidebar a {
color: #79b84e;
text-decoration: none;
display: block;
padding: 10px 20px;
}
.sidebar a.link:hover {
background-color: #232a33;
}
.content {
flex-grow: 1;
padding: 20px;
    background-color: #f8f9fa;
    overflow-y: auto;
}
.card-title {
    font-size: 1.25rem;
    text-align: center;
}
.card{
    font-size: 1rem;
}
.logo-svg {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 0 20px 20px;
}
.logo-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #79b84e;
    margin-top: 5px
}
.logo-svg-perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #f8f9fa;
    padding: 0 20px 20px;
}

footer {
    background-color: #091D28;
    color: #79b84e;
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #495057;
}

.footer a{
 color: #79b84e;
 text-decoration: none;

}
